extends layout

block viewer
    input(type="text" class="W-inp" placeholder="text")
    input(type="number" class="W-inp" placeholder="number")
    input(type="mail" class="W-inp" placeholder="mail")
    input(type="date" class="W-inp" placeholder="date")