extends layout

block viewer
  .W-page
    input(type="radio" name="R1" id="R1-1" checked)
    label(for="R1-1")
    input(type="radio" name="R1" id="R1-2")
    label(for="R1-2")
    input(type="radio" name="R1" id="R1-3")
    label(for="R1-3")
    input(type="radio" name="R1" id="R1-4")
    label(for="R1-4")
    input(type="radio" name="R1" id="R1-5")
    label(for="R1-5")
    input(type="radio" name="R1" id="R1-6")
    label(for="R1-6")
    input(type="radio" name="R1" id="R1-7")
    label(for="R1-7")
    input(type="radio" name="R1" id="R1-8")
    label(for="R1-8")
  .W-pageT2
    input(type="radio" name="R2" id="R2-1" checked)
    label(for="R2-1")
    input(type="radio" name="R2" id="R2-2")
    label(for="R2-2")
    input(type="radio" name="R2" id="R2-3")
    label(for="R2-3")
    input(type="radio" name="R2" id="R2-4")
    label(for="R2-4")
    input(type="radio" name="R2" id="R2-5")
    label(for="R2-5")
    input(type="radio" name="R2" id="R2-6")
    label(for="R2-6")
    input(type="radio" name="R2" id="R2-7")
    label(for="R2-7")
    input(type="radio" name="R2" id="R2-8")
    label(for="R2-8")
