[class*="W-"]{
    --W-primaryR: 30;
    --W-secondaryR: 225;
    --W-primaryG: 30;
    --W-secondaryG: 225;
    --W-primaryB: 30;
    --W-secondaryB: 225;
  }
  ul:not([class*="W-"]) {
    margin: 1em 0;
    display: grid;
    gap: 5px;
  }
  table:not([class*="W-"]) { width: calc(100% - 1em); margin: .5em; }
  ul>details>div {
    display: inline-grid;
    width: calc(50% - 5px);
    margin: 0 2.5px;
    gap: 5px;
    justify-items: center;
  }
  .W-banner::before {
    font-weight: bolder;
  }