@keyframes W-opacity {
  100% { opacity: .25; }
}
@keyframes W-background {
  100% { background-position: calc(var(--W-width) * -1); }
}

/* Variable to configure elements's parameter */
:root {
  
/* Format parameter */

  --W-titleFont: serif;
  --W-fontA: sans-serif;
  --W-fontB: cursive;

/* Layout parameter */

  --W-height: unset;
  --W-width: unset;
  --W-gap: unset;
  --W-column: unset;
  --W-row: unset;
  --W-align: unset;
  --W-justify: unset;
  --W-margin: unset;
  --W-paddingLeft: unset;
  --W-paddingRight: unset;
  --W-paddingTop: unset;
  --W-paddingBottom: unset;
  --W-flow: unset;
  --W-repeat: unset;
  --W-shader: unset;
  --W-radius: unset;
  --W-borderWidth: unset;
  --W-borderStyle: unset;
  --W-borderColor: unset;
  --W-overflowX: unset;
  --W-overflowY: unset;
  --W-primaryR: 225;
  --W-secondaryR: 30;
  --W-primaryG: 225;
  --W-secondaryG: 30;
  --W-primaryB: 225;
  --W-secondaryB: 30;
  --W-primaryA: 1;
  --W-secondaryA: 1;
}

/***************************************
*               Globals                *
***************************************/

/* dependent variables */

[class*="W-"] {
  --W-height: initial;
  --W-width: initial;
  --W-gap: initial;
  --W-column: initial;
  --W-row: initial;
  --W-align: initial;
  --W-justify: initial;
  --W-margin: initial;
  --W-paddingLeft: initial;
  --W-paddingRight: initial;
  --W-paddingTop: initial;
  --W-paddingBottom: initial;
  --W-flow: initial;
  --W-repeat: initial;
  --W-type: initial;
  --W-shader: initial;
  --W-radius: initial;
  --W-borderWidth: initial;
  --W-borderStyle: initial;
  --W-borderColor: initial;
  --W-overflowX: initial;
  --W-overflowY: initial;
  --W-red: var(--W-primaryR);
  --W-green: var(--W-primaryG);
  --W-blue: var(--W-primaryB);
  --W-opacity: var(--W-primaryA)
}

[class*="W-"], [class*="W-"] > *,
[class*="W-"]::before, [class*="W-"] > *::before,
[class*="W-"]::after, [class*="W-"] > *::after  {
  all: unset;
  /* constrast variable. if background-color is dark, --W-color equal 255 else --W-color equal 0 */
  --W-bits: calc(((((var(--W-red) * 299) + (var(--W-green) * 587) + (var(--W-blue) * 114)) / 1000) - 128) * -1000);
  --W-contrast: rgb(var(--W-bits),var(--W-bits),var(--W-bits));

  box-sizing: border-box;
  /* reset overflow value */
  --W-overflowX: visible;
  --W-overflowY: visible;
}

[class*="W-"], [class*="W-"]:not([class*="W-search"]) > *  {
  /* dependence of the variables "padding" on the variable "--W-paddingLeft"*/
  --W-paddingRight: var(--W-paddingLeft);
  --W-paddingTop: var(--W-paddingLeft);
  --W-paddingBottom: var(--W-paddingTop);
}