
body {
  --W-primaryR: 30;
  --W-primaryG: 30;
  --W-primaryB: 30;
  --W-secondaryR: 255;
  --W-secondaryG: 255;
  --W-secondaryB: 255;
  --W-inver: invert( var(--W-bits) );
  background: rgb(var(--W-primaryR), var(--W-primaryG), var(--W-primaryB));
  color: rgb(var(--W-secondaryR), var(--W-secondaryG), var(--W-secondaryB));
  margin: 0;
}
a {
  color: rgb(var(--W-secondaryR), var(--W-secondaryG), var(--W-secondaryB));
}
main { width: 100vw; height: 100vh; display: grid; grid-template-columns: auto 1fr; }
nav { display: grid; align-items: center; text-align: center; padding: 5px; overflow-y: auto;}
.page:not(:target):not(:last-child), :target ~ .page:last-child {
  display: none;
}

.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.viewer {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
