mixin include(str)
  case str
    when "box"
      include widgets/complex/box
    when "card"
      include widgets/complex/card
    when "carousel"
      include widgets/complex/carousel
    when "dropdown"
      include widgets/complex/dropdown
    when "form"
      include widgets/complex/form
    when "layout"
      include widgets/complex/layout
    when "list"
      include widgets/complex/list
    when "modal"
      include widgets/complex/modal
    when "banner"
      include widgets/simple/banner
    when "breadcrumb"
      include widgets/simple/breadcrumb
    when "button"
      include widgets/simple/button
    when "input"
      include widgets/simple/input
    when "layout"
      include widgets/simple/layout
    when "pagination"
      include widgets/simple/pagination
    when "progressbar"
      include widgets/simple/progressbar
    when "switcher"
      include widgets/simple/switcher
    when "c"
      include widgets/simple/test/c
    when "test"
      include widgets/simple/test/test
    default
      p #{str} not found