extends layout

block content
  main
    nav
      each item in links
        a(href='#'+item.id)= item.name
    article
      each item in links
        -currentItem = item;
        +include(item.name.toLowerCase())
      section.page
        h2 please select a widget
      

  