<!DOCTYPE html>
-let n
include DI
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Widgets.css
    link(rel="stylesheet", href="style/main.css")
    link(rel="stylesheet", href="style/style.css")
  body
    block content