/***************************************
*                 Boxes                *
***************************************/

  /* general */
  [class*="W-box"] {
    display: grid;
    width: var(--W-width);
    height: var(--W-height);
    padding: var(--W-padding);
    grid-auto-flow: dense;
    gap: var(--W-gap);
    margin: var(--W-margin);
    background-color: rgba(var(--W-red), var(--W-green), var(--W-blue), var(--W-opacity));
    grid-auto-rows: 1fr;
    overflow: var(--W-overflowX) var(--W-overflowY);
  }
  [class*="W-box"] > :not([class*="W-"]) {
    overflow: var(--W-overflowX) var(--W-overflowY);
  }
  [class*="W-boxT"]{
    grid-auto-rows: var(--W-row);
  }
  /* Type 1 */
    .W-box{
      --W-width: calc(100% - (var(--W-margin) * 2 ));
      --W-height: unset;
      --W-align: baseline;
      --W-justify: left;
      --W-paddingLeft: var(--W-gap);
      --W-shader: .5;
      --W-gap: .25em;
      --W-type: auto-fit;
      --W-column: 1fr;
      --W-row: 5%;
      --W-red: 255;
      --W-green: 255;
      --W-blue: 255;
      --W-opacity: 0;
      --W-margin: 2.5px;

      grid-template-columns: repeat(var(--W-type), var(--W-column));
    }    
    .W-box:not(:empty):before {
      content: '';
      width: 0;
      padding-bottom: var(--W-row);
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
    .W-box > :first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1
    }
  /* Type 2 */
    .W-boxT2 {
      --W-width: calc(100% - (var(--W-margin) * 2 ));
      --W-height: unset;
      --W-align: baseline;
      --W-justify: left;
      --W-paddingLeft: var(--W-gap);
      --W-shader: .5;
      --W-gap: .25em;
      --W-type: auto-fit;
      --W-column: 1fr;
      --W-row: 5%;
      --W-red: 255;
      --W-green: 255;
      --W-blue: 255;
      --W-opacity: 0;
      --W-margin: 2.5px;

      grid-template-columns: repeat(var(--W-type), var(--W-column));
    }
  /* Type 3 */
    .W-boxT3 {
      --W-width: calc(100% - (var(--W-margin) * 2 ));
      --W-height: unset;
      --W-align: baseline;
      --W-justify: left;
      --W-paddingLeft: var(--W-gap);
      --W-shader: .5;
      --W-gap: .25em;
      --W-type: auto-fit;
      --W-column: 1fr;
      --W-row: 5%;
      --W-red: 255;
      --W-green: 255;
      --W-blue: 255;
      --W-opacity: 0;
      --W-margin: 7.5px;
      
      grid-template-columns: calc(33% * var(--W-shader) ) 1fr calc(33% * var(--W-shader) );
    }
    .W-boxT3 > * {
      grid-column: span 2;
      grid-row: span 1;
    }
    .W-boxT3:not([row]):nth-child(odd) > :nth-child(4n-3),
    .W-boxT3:not([row]):nth-child(even) > :nth-child(4n-2),
    .W-boxT3:not([row]):nth-child(even) > :nth-child(4n-1), 
    .W-boxT3:not([row]):nth-child(odd) > :nth-child(4n) {
      grid-column: span 1;
    }
    .W-boxT3[row="2"]:nth-child(odd) > :nth-child(6n-5),
    .W-boxT3[row="2"]:nth-child(even) > :nth-child(6n-3),
    .W-boxT3[row="2"]:nth-child(even) > :nth-child(6n-2), 
    .W-boxT3[row="2"]:nth-child(odd) > :nth-child(6n) {
      grid-column: span 1;
      grid-row: span 2;
    }
    .W-boxT3[row="3"]:nth-child(odd) > :nth-child(8n-7),
    .W-boxT3[row="3"]:nth-child(even) > :nth-child(8n-4),
    .W-boxT3[row="3"]:nth-child(even) > :nth-child(8n-3),
    .W-boxT3[row="3"]:nth-child(odd) > :nth-child(8n) {
      grid-column: span 1;
      grid-row: span 3;
    }
    .W-boxT3[row="4"]:nth-child(odd) > :nth-child(10n-9),
    .W-boxT3[row="4"]:nth-child(even) > :nth-child(10n-5),
    .W-boxT3[row="4"]:nth-child(even) > :nth-child(10n-4),
    .W-boxT3[row="4"]:nth-child(odd) > :nth-child(10n) {
      grid-column: span 1;
      grid-row: span 4;
    }
    .W-boxT3[row="5"]:nth-child(odd) > :nth-child(12n-11),
    .W-boxT3[row="5"]:nth-child(even) > :nth-child(12n-6),
    .W-boxT3[row="5"]:nth-child(even) > :nth-child(12n-5),
    .W-boxT3[row="5"]:nth-child(odd) > :nth-child(12n) {
      grid-column: span 1;
      grid-row: span 5;
    }
  /* Carousel preset */
    [type*="carousel"] > [class*="W-slider"] {
      display: grid;
      width: var(--W-width);
      height: var(--W-height);
      padding: var(--W-paddingTop) var(--W-paddingRight) var(--W-paddingBottom) var(--W-paddingLeft);
      grid-auto-flow: dense;
      gap: var(--W-gap);
      margin: var(--W-margin);
      background-color: rgba(var(--W-red), var(--W-green), var(--W-blue), var(--W-opacity));
      grid-auto-rows: 1fr;
      overflow: var(--W-overflowX) var(--W-overflowY);
      grid-row: 1;
      grid-column: 1;
    }
    [type*="carousel"] {
      --W-row: 0;
      --W-colum: 0;
      gap: 0;
    }
    [type*="carousel"] > input {
      display: none;
    }
    [type*="H-carousel"]{
      --W-flow: column;
      grid-auto-flow: var(--W-flow);
      grid-auto-columns: 100%;
    }
    [type*="v-carousel"]{
      --W-flow: row;
      grid-auto-flow: var(--W-flow);
      grid-auto-rows: 100%;
    }