/***************************************
*                Cards                 *
***************************************/
// in process

  /* Type-1 */
    [class*="W-card"] {
      --W-width: 150px;
      --W-height: calc(var(--W-width) * 1.5);
      --W-primaryR: 200;
      --W-primaryG: 200;
      --W-primaryB: 200;
      --W-secondaryR: 20;
      --W-secondaryG: 20;
      --W-secondaryB: 20;
      --W-column: 40%;
      display: inline-grid;
      position: relative;
      margin: var(--W-margin);
      width: var(--W-width);
      height: var(--W-height);
    }
    [class*="W-card"]:empty::before {
      --W-red: var(--W-secondaryR);
      --W-green: var(--W-secondaryG);
      --W-blue: var(--W-secondaryB);
    }
    [class*="W-card"]:empty::before,
    [class*="W-card"]:empty::after {
      content: "";
      background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
    }
    .W-card {
      grid-template-rows: var(--W-column) calc( 100% - var(--W-column) );
    }
  /* Type-2 */
    .W-cardT2>:first-child, .W-cardT2:empty>::before {
      position: absolute;
      width: var(--W-width);
      height: var(--W-height);
      z-index: -1;
    } 
    .W-cardT2>:nth-child(2), .W-cardT2:empty>::before {
      --W-paddingBottom: var(--W-paddingLeft);
      margin: var(--W-paddingTop) var(--W-paddingRight) var(--W-paddingBottom) var(--W-paddingLeft);
    }
