/***************************************
*              Carousels               *
***************************************/
    [type*="carousel"] > [class*="W-slide"],
    [type*="carousel"] > [class*="W-slide"] > :only-child{
      transition: all ease 1s;
    }
  /* Type 1 */
    .W-slider{
      grid-auto-flow: var(--W-flow);
      gap: var(--W-gap);
    }

    @for $i from 2 through 100 {

      [type=H-carousel]>[type="radio"]:checked:nth-of-type(#{$i}) ~ .W-slider{
        transform: translateX(calc( (var(--W-width) + var(--W-gap)) * ((#{$i} - 1)* -1) ));
      }

      [type=V-carousel]>[type="radio"]:checked:nth-of-type(#{$i}) ~ .W-slider {
        transform: translateY(calc( (var(--W-height) + var(--W-gap)) * ((#{$i} - 1)* -1) ));
      }
      
    }
    
  /* Type 2
    .W-sliderT3 {
      grid-auto-flow: dense;
    }
    [type="radio"]:checked:nth-of-type(2) ~ .W-sliderT3 > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(3) ~ .W-sliderT3 > :nth-child(3) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(4) ~ .W-sliderT3 > :nth-child(4) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(5) ~ .W-sliderT3 > :nth-child(5) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(6) ~ .W-sliderT3 > :nth-child(6) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(7) ~ .W-sliderT3 > :nth-child(7) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(8) ~ .W-sliderT3 > :nth-child(8) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(9) ~ .W-sliderT3 > :nth-child(9) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(10) ~ .W-sliderT3 > :nth-child(10) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(11) ~ .W-sliderT3 > :nth-child(11) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(12) ~ .W-sliderT3 > :nth-child(12) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(13) ~ .W-sliderT3 > :nth-child(13) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(14) ~ .W-sliderT3 > :nth-child(14) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(15) ~ .W-sliderT3 > :nth-child(15) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(16) ~ .W-sliderT3 > :nth-child(16) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(17) ~ .W-sliderT3 > :nth-child(17) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(18) ~ .W-sliderT3 > :nth-child(18) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(19) ~ .W-sliderT3 > :nth-child(19) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(20) ~ .W-sliderT3 > :nth-child(20) {
      grid-row: 1;
      grid-column: 1;
    }
    [type="radio"]:checked:nth-of-type(21) ~ .W-sliderT3 > :nth-child(21) {
      grid-row: 1;
      grid-column: 1;
    } */

/* -Slide- */

  /* general */
    [class*="W-slide"]:not([class*="W-slider"]) {
      --W-slide-padding: calc(var(--W-height) - 100%);
      display: grid;
      width: var(--W-width);
      height: var(--W-height);
      overflow: hidden;
    }
    [class*="W-slide"]:not([class*="W-slider"]) > :only-child {
      display: grid;
      width: var(--W-width);
      height: var(--W-height);
    }

    [class*="W-slide"]:not([class*="W-slider"]):first-of-type {
      grid-row: 1;
      grid-column: 1;
    }

    [type=H-carousel]:not([class*="W-slider"]) > :not(:checked) + .W-slide:not(.active){
      width: 0;
    }
    
    [type=V-carousel]:not([class*="W-slider"]) > :not(:checked) + .W-slide:not(.active){
      height: 0;
    }

    [type=H-carousel]:not([class*="W-slider"]) > :not(:checked) + .W-slide:not(.active) > div{
      transform: translateX(-100%);
    }
    
    [type=V-carousel]:not([class*="W-slider"]) > :not(:checked) + .W-slide:not(.active) > div{
      transform: translateY(-100%);
    }

    [type=H-carousel]:not([class*="W-slider"]) > :checked ~ :not(:checked) + .W-slide:not(.active) > div{
      transform: translateX(100%);
    }
    [type=V-carousel]:not([class*="W-slider"]) > :checked ~ :not(:checked) + .W-slide:not(.active) > div{
      transform: translateY(100%);
    }
