/***************************************
*              dropdowns               *
***************************************/

  /* general */
  .W-menu {
    display: inline-grid;
    grid-template-rows: 100%;
    width: 100%;
    height: 4em;
  }
  .W-menu>:first-child {
    display: inline-grid;
    align-content: center;
    justify-content: center;
  }
  .W-menu>:last-child {
    display: inline-grid;
    grid-auto-rows: 4em;
    transform: scale(1,0);
    transform-origin: top;
  }
  .W-menu:hover>:last-child {
    transform: scale(1);
  }