/***************************************
*                 Forms                *
***************************************/

  /* general */
    [class*="W-form"] {
      --W-width: calc(100% - 2em);
      --W-height: fit-content;
      --W-gap: 5px 15px;
      --W-margin: 5px 15px;
      --W-paddingLeft: .5em;
      --W-justify: center;
      --W-align: center;

      display: grid;
      width: var(--W-width);
      height: var(--W-height);
      gap: var(--W-gap);
      margin: var(--W-margin);
      padding: var(--W-paddingTop) var(--W-paddingRight) var(--W-paddingBottom) var(--W-paddingLeft);
      justify-content: var(--W-justify);
      align-content: var(--W-align);
      overflow: var(--W-overflowX) var(--W-overflowY);
    }
    [class*="W-form"].reverse {
      grid-auto-flow: dense;
    }
    [class*="W-form"] > :not(input) {
      cursor: pointer;
    }
    [class*="W-form"].reverse > input:focus + :not(input) {
      border-bottom: 1px solid;
    }
    /* Type 1 */
      .W-form > input {
        grid-column: 2;
      }
      .W-form > :not(input) {
        align-self: center;
        justify-self: right;
      }
    /* Type 2 */
      .W-formT2.reverse> input:nth-of-type(1) {
        grid-row: 2;
      }
      .W-formT2.reverse> input:nth-of-type(2) {
        grid-row: 4;
      }
      .W-formT2.reverse> input:nth-of-type(3) {
        grid-row: 6;
      }
      .W-formT2.reverse> input:nth-of-type(4) {
        grid-row: 8;
      }
      .W-formT2.reverse> input:nth-of-type(5) {
        grid-row: 10;
      }
      .W-formT2.reverse> input:nth-of-type(6) {
        grid-row: 12;
      }
      .W-formT2.reverse> input:nth-of-type(7) {
        grid-row: 15;
      }
      .W-formT2.reverse> input:nth-of-type(8) {
        grid-row: 16;
      }
      .W-formT2.reverse> input:nth-of-type(9) {
        grid-row: 18;
      }
      .W-formT2.reverse> input:nth-of-type(10) {
        grid-row: 20;
      }
      .W-formT2 > :not(input) {
        justify-self: var(--W-justify);
        text-align: var(--W-justify);
      }


