/***************************************
*                Lists                 *
***************************************/

  /* general */
    [class*="W-list"]{
      --W-width: 100%;
      --W-height: fit-content;
      --W-paddingLeft: 1px;
      --W-gap: 5px;
      --W-type: "-";
      --W-row: auto;
      --W-shader: 0.75;

      display: grid;
      width: var(--W-width);
      height: var(--W-height);
      padding: var(--W-paddingTop) var(--W-paddingRight) var(--W-paddingBottom) var(--W-paddingLeft);
      padding-left: calc(40px + var(--W-paddingLeft));
      gap: var(--W-gap); 
      grid-auto-rows: var(--W-row);
      list-style-type: var(--W-type);
      overflow: var(--W-overflowX) var(--W-overflowY);
    }
    /* Type 1 */
      ol.W-list {
        --W-type: upper-roman;
      }
      .W-list > *{
        display: list-item;
      }
    /* Type 2 */
      .W-listT2 {
        --W-type: url("../img/Logo.png");
        padding: var(--W-paddingTop) var(--W-paddingRight) var(--W-paddingBottom) var(--W-paddingLeft);
      }
      .W-listT2> * {
        position: relative;
        display: inline-grid;
        grid-template-columns:  40px 1fr;
      }
      .W-listT2> *::before {
        display: grid;
        content: "";
        background: var(--W-type);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        justify-self: right;
        align-self: baseline;
        height: calc(16px * var(--W-shader));
        width: calc(16px * var(--W-shader));
        margin-top: 2.5px;
        margin-right: 5px;
      }
