.W-masonry-h {
  display: flex;
  flex-wrap: wrap;
  gap: var(--W-gap);
	&>*{
    display: grid;
    flex-grow: 1;
		overflow: hidden;
		border: 1px solid black;
    height: var(--W-heigth);
	}
}

.W-masonry-v {
	columns: 4;
	column-gap: 16px;

	@media (max-width: 1200px) { columns: 3; }
	
	@media (max-width: 800px) { columns: 2; }
	
	@media (max-width: 400px) { columns: 1; }
	
	&>*{
		display: inline-block;
		margin-bottom: 16px;
		position: relative;

		img {
			width: 100%;
			border-radius: 5px;
		}
	}

	&__body {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 30px 30px;
		color: #fff;
		display: flex;
		flex-direction: column
	}

}