/***************************************
*                Modals                *
***************************************/

  /* Type-1 */
.W-modal.active, :checked+.W-modal {
  display: grid;
  grid-template-columns: var(--W-column);
  grid-auto-rows: var(--W-row);
}
.W-modal {
  --W-margin: 2.5em;
  --W-opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: var(--W-margin);
  background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
}
  /* Type-2 */
.W-modalT2 {
  margin: 0;
  padding: var(--W-margin);
  background-color: rgba(calc(var(--W-red)*0.1), calc(var(--W-green)*0.1), calc(var(--W-blue)*0.1), var(--W-opacity));
}
.W-modalT2>*, .W-modalT2:empty::before {
  background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
}
.W-modalT2:empty::before {
  content: "";
}