/***************************************
*                banner                *
***************************************/
.W-banner{
  --W-innerWidth: calc(100% - (var(--W-height, 60px)*2));
  --W-innerHeight: calc(var(--W-height, 60px)*0.8);
  display: grid;
  position: relative;
  margin: var(--W-margin);
  min-width: calc((var(--W-height, 60px) * 3.333));
  height: var(--W-height, 60px);
  overflow: hidden;
  justify-items: center;
  width: var(--W-width)
}
.W-banner::before{
  content: attr(value);
  display: grid;
  border: var(--W-borderWidth, 2px) solid rgb(var(--W-secondaryR, 30), var(--W-secondaryG, 30), var(--W-secondaryB, 30));
  background: rgb(var(--W-red), var(--W-green), var(--W-blue));
  position: relative;
  place-items: center;
  width: var(--W-innerWidth);
  height: var(--W-innerHeight);
}
.W-banner:not(:empty)::after,
.W-banner:empty:not(:last-child)::after {
  content: "";
}
.W-banner::after {
  width: calc( var(--W-innerWidth) - (var(--W-innerHeight)*1.5) );
  border-bottom: var(--W-borderWidth, 2px) var(--W-borderStyle, dotted) rgb(var(--W-secondaryR, 30), var(--W-secondaryG, 30), var(--W-secondaryB, 30));
  align-self: flex-end;
}
  
.W-banner > * {
  position: absolute;
  top: 20%;
  z-index: -2;
  width: calc(var(--W-innerHeight)*1.5);
  border: rgb(var(--W-secondaryR, 30), var(--W-secondaryG, 30), var(--W-secondaryB, 30)) calc(var(--W-innerHeight)/2) solid;
}
.W-banner > :nth-child(1){
  left: calc(var(--W-innerHeight)*0.25);
  border-left-color: transparent;
  border-right-width: calc(var(--W-innerHeight)/1.8);
}
.W-banner > :nth-child(2){
  right: calc(var(--W-innerHeight)*0.25);
  border-right-color: transparent;
  border-left-width: calc(var(--W-innerHeight)/1.8);
} 


.W-banner > ::before{
  width: 100%;
  border: rgb(var(--W-red), var(--W-green), var(--W-blue)) calc((var(--W-innerHeight)/2) - var(--W-borderWidth, 2px) ) solid;
  top: calc((var(--W-innerHeight)/-2) + var(--W-borderWidth, 2px));
  left: calc((var(--W-innerHeight)/-2));
  right: calc((var(--W-innerHeight)/-2));
}
.W-banner > ::before,
.W-banner > ::after{
  content: "";
  position: absolute;
}
.W-banner > :nth-child(1)::before,
.W-banner > :nth-child(1)::after{
  box-sizing: content-box;
  border-left-color: transparent;
  left: unset;
}
.W-banner > :nth-child(2)::before,
.W-banner > :nth-child(2)::after{
  box-sizing: content-box;
  border-right-color: transparent;
  right: unset;
}
.W-banner > ::after{
  border: rgb(var(--W-secondaryR, 30), var(--W-secondaryG, 30), var(--W-secondaryB, 30)) solid;
  border-width: calc((var(--W-innerHeight)/7)) calc((var(--W-innerHeight)/4.4));
  border-bottom-color: transparent;
  inset: calc((var(--W-innerHeight)/-2));
  top: unset;
}
.W-banner > :nth-child(1)::after{
  border-left-color: transparent;
}
.W-banner > :nth-child(2)::after{
  border-right-color: transparent;
}