/***************************************
*             breadcrumbs              *
***************************************/

/* general */

.W-bdb {
  --W-bdbDefault-gap: .5em;
  display: grid;
  gap: var(--W-gap, var(--W-bdbDefault-gap));
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  background-color: rgba(var(--W-red), var(--W-green), var(--W-blue), var(--W-opacity));
}
.W-bdb * {
  color: var(--W-contrast);
}
.W-bdb > *+*::before {
  content: var(--W-type, '/');
  position: relative;
  left: calc( var(--W-gap, var(--W-bdbDefault-gap)) / -2 );
  color: var(--W-contrast);
}
.W-bdb > * > * {
  text-decoration: none;
}
.W-bdb > :not(:last-child) > *  {
  color: var(--W-color, var(--W-contrast));
}
.W-bdb > :not(:last-child) > :hover {
  text-decoration: underline;
}
