/***************************************
*                Buttons               *
***************************************/
/*
variable for the class W-btn:
  - W-red, W-green and W-blue (RGB) to choose the color;
  - W-opacity for the opacity;
  - W-radius for the border radius;
  - W-paddingTop, W-paddingRight, W-paddingBottom and W-paddingLeft for the padding;

  tips: 
    if not define the variables W-paddingTop and W-paddingRight will take the value of W-paddingLeft when W-paddingBottom will take the value of W-paddingTop.
*/
  /* general */
[class*="W-btn"]{

  display: inline-grid;
  padding: var(--W-paddingTop, 2px) var(--W-paddingRight, 6px) var(--W-paddingBottom, 2px) var(--W-paddingLeft, 6px);
  background: linear-gradient(
    rgb(var(--W-red), var(--W-green), var(--W-blue)),
    rgb(calc(var(--W-red)*0.9), calc(var(--W-green)*0.9), calc(var(--W-blue)*0.9))
  );
  width: var(--W-width, initial);
  height: var(--W-height, auto);
  border: solid 1px rgb(calc(var(--W-red)*0.9), calc(var(--W-green)*0.9), calc(var(--W-blue)*0.9));
  border-radius: var(--W-radius, 2px);
  outline: none;
  text-align: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: var(--W-color, var(--W-contrast));
  font: 400 13.3333px Arial;
}
[class*="W-btn"]:hover { border-color: rgb(calc(var(--W-red)/2), calc(var(--W-green)/2), calc(var(--W-blue)/2)); }
[class*="W-btn"]:active {

  background: linear-gradient(
    rgb(calc(var(--W-red)*0.9), calc(var(--W-green)*0.9), calc(var(--W-blue)*0.9)),
    rgb(var(--W-red), var(--W-green), var(--W-blue))
  );
  border-color: rgb(calc(var(--W-red)*0.7), calc(var(--W-green)*0.7), calc(var(--W-blue)*0.7));

}
