/***************************************
*                Inputs                *
***************************************/

          // in process

  /* general */
    [contenteditable="true"][class*="W-inp"], input:not([type="checkbox"]):not([type="radio"])[class*="W-inp"], textarea[class*="W-inp"],
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea) {
      position: relative;
      overflow: hidden;
      width: var(--W-width, 250px);
      border-radius: var(--W-radius, 2px);
      margin: var(--W-margin, 2.5px);
      border: var(--W-borderWidth, 1px) var(--W-borderStyle, solid) var(--W-borderColor, var(--W-contrast));
      box-sizing: border-box;
    }
    [contenteditable="true"][class*="W-inp"], input:not([type="checkbox"]):not([type="radio"])[class*="W-inp"], textarea[class*="W-inp"],
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> [contenteditable="true"],
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> input:not([type="checkbox"]):not([type="radio"]),
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> textarea {
      --W-inp-vPadding: calc((var(--W-height, 1.5em) - (var(--W-fontSize, 14px) * 1.5 )) / 2);
      --W-inp-hPadding: 2px;
      height: var(--W-height, 1.5em);
      padding: var(--W-paddingTop, var(--W-inp-vPadding)) var(--W-paddingRight, 10px) var(--W-paddingBottom, var(--W-inp-vPadding)) var(--W-paddingLeft, 10px);
      line-height: calc( var(--W-fontSize, 14px) * 1.5 ) !important;
      outline: 0;
      align-content: center;
      
      /* inputifinator */
      background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
      text-indent: 0px;
      display: inline-grid;
      text-align: start;
      cursor: text;
      font: var(--W-fontSize, 14px) Arial;
      -moz-user-modify: read-write;
      -webkit-user-modify: read-write;
      grid-auto-flow: column;
      grid-template-columns: 1fr;
      box-shadow: 0px 0px 2.5px var(--W-color, var(--W-contrast)) inset;
    }
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> [contenteditable="true"],
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> input:not([type="checkbox"]):not([type="radio"]),
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> textarea {
      border: none;
      border-radius: var(--W-radius, 2px);
    }
    [class*="W-inp"] > textarea:not([row]), textarea[class*="W-inp"]:not([row]) {
      height: calc( var(--W-fontSize, 14px) * 1.5 );
    }
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea) {
      display: inline-grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr auto ;
      padding-right: calc(( var(--W-height, 1.5em) - ( ((var(--W-fontSize, 14px) * 1.5) * var(--W-shader, 1)) + 3px )) / 2 );
    }
    [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea) > i {
      display: grid;
      width: calc( ((var(--W-height, 1.5em) - 4px) * var(--W-shader, 1)) ) ;
      height: calc( ((var(--W-height, 1.5em) - 4px) * var(--W-shader, 1)) ) ;
      font-size: calc( var(--W-fontSize, 14px) * var(--W-shader, 1) ) ;
      align-self: center;
      align-content: center;
      justify-content: center;
      border-radius: 2.5px;
      margin: 2px;
    }
    /* Placeholder */
      [contenteditable="true"][class*="W-inp"]:empty::before,
      textarea[class*="W-inp"]::placeholder,
      input[class*="W-inp"]::placeholder,
      [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> [contenteditable="true"]:empty::before,
      [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> textarea::placeholder,
      [class*="W-inp"]:not([contenteditable="true"]):not(input):not(textarea)> input::placeholder {
        content: attr(placeholder);
        color: var(--W-color);
        opacity: 0.7;
      }
  /* Type 2 */
    [contenteditable="true"].W-inpT2, input:not([type="checkbox"]):not([type="radio"]).W-inpT2, textarea.W-inpT2,
    .W-inpT2:not([contenteditable="true"]):not(input):not(textarea) {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    /* 
    [class*="W-inp"] {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs,1));
      width: 18px;
      height: 18px;
      border: 2px solid;
      border-top: 4px solid;
      border-radius: 3px
  }
  [class*="W-inp"]::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      background: currentColor;
      height: 4px;
      width: 4px;
      border-radius: 2px;
      right: 2px;
      bottom: 2px
  }
   */
  
  //  ::-webkit-datetime-edit { padding: 1em; }
  // ::-webkit-datetime-edit-fields-wrapper { background: silver; }
  // ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
  // ::-webkit-datetime-edit-month-field { color: blue; }
  // ::-webkit-datetime-edit-day-field { color: green; }
  // ::-webkit-datetime-edit-year-field { color: purple; }
  [class*="W-inp"]::-webkit-inner-spin-button { display: grid; }
  [class*="W-inp"]::-webkit-calendar-picker-indicator { filter: var(--W-invert) }