/***************************************
*              Pagination              *
***************************************/

  /* general */
    [class*="W-page"] {
      --W-primaryR: 0;
      --W-primaryG: 0;
      --W-primaryB: 0;
      --W-secondaryR: 0;
      --W-secondaryG: 0;
      --W-secondaryB: 255;
      --W-type: decimal;
      --W-fontSize: 1.25em;
      --W-column: 2.5em;
      --W-row: var(--W-column);

      counter-reset: pageN;
      display: grid;
      grid-template-columns: repeat(auto-fit, var(--W-column));
      grid-auto-rows: var(--W-row);
      justify-content: center;
      font-size: var(--W-fontSize);
      width: 100%;
    }
    [class*="W-page"] > :not(input)::before {
      counter-increment: pageN;
      content: counter(pageN, var(--W-type));
      color: rgb(var(--W-red), var(--W-green), var(--W-blue));
    }
    [class*="W-page"] > :not(input):hover::before {
      text-decoration: underline;
    }
    [class*="W-page"] > :checked + :not(input), [class*="W-page"] > :not(input).active, [class*="W-page"] > :not(input):hover {
      --W-red: var(--W-secondaryR);
      --W-green: var(--W-secondaryG);
      --W-blue: var(--W-secondaryB);
      color: rgb(var(--W-red), var(--W-green), var(--W-blue));
    }
    [class*="W-page"] > :not(:checked) + :not(input):hover:not(.active){
      filter: opacity(0.5);
    }
    [class*="W-page"]>[type="radio"] {
      display: none;
    }
    [class*="W-page"] > :not(input) {
      display: inline-grid;
      align-content: center;
      justify-content: center;
      color: var(--W-color);
      cursor: pointer;
    }
    /* Type 1 */
      .W-page > :not(input) {
        width: fit-content;
        height: fit-content;
        align-self: center;
        justify-self: center;
      }
    /* Type 2 */
      .W-pageT2{
        --W-primaryR: 255;
        --W-primaryG: 255;
        --W-primaryB: 255;
      }
      .W-pageT2 > :not(input) {
        align-content: center;
        justify-content: center;
        background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
      }
      .W-pageT2 > :not(input)::before {
        color: var(--W-color);
      }
      .W-pageT2 > :checked + label, .W-pageT2 > :not(input).active, .W-pageT2 > :not(input):hover {
        background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
        color: var(--W-color);
      }
