/***************************************
*              PogressBars             *
***************************************/

  /* general */
    [class*="W-bar"] {
      --W-secondaryR: 0;
      --W-secondaryG: 0;
      --W-secondaryB: 255;
      --W-primaryR: 255;
      --W-primaryG: 255;
      --W-primaryB: 255;
      --W-width: 10em;
      --W-height: 1em;
      --W-shader: 50;
      --W-radius: 2.5px;
      --W-type: "loading...";

      counter-reset: progress var(--W-shader);
      overflow: hidden;
      display: grid;
      width: var(--W-width);
      position: relative;
      height: var(--W-height);
      border: 1px double var(--W-color);
      border-radius: var(--W-radius);
      box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5) inset, -1px -2px 10px 0 rgba(255, 255, 255, 0.5) inset;
      background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
    }
    progress[class*="W-bar"]::-webkit-progress-bar {
      background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
      border-radius: var(--W-radius);
      height: var(--W-height);
      box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5) inset, -1px -2px 10px 0 rgba(255, 255, 255, 0.5) inset;
    }
    progress[class*="W-bar"]:indeterminate, progress[class*="W-bar"]:indeterminate::-webkit-progress-bar, progress[class*="W-bar"]::-webkit-progress-value {
      background-color: rgb(var(--W-secondaryR), var(--W-secondaryG), var(--W-secondaryB));
      border-radius: var(--W-radius);
      box-shadow: 0 2px 10px -3px rgba(255, 255, 255, 0.5) inset, 1px -2px 10px 3px rgba(0, 0, 0, 0.5) inset;
      transition: ease .5s all;
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    }
    progress[class*="W-bar"]:indeterminate, [class*="W-bar"][indeterminate]:not(progress)>:nth-child(1) {
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2)),
      linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .5) 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, rgba(0, 0, 0, .5) 75%);
      background-size: calc(var(--W-width) / 10);
      animation: W-background 5s linear infinite;
    }
    progress[class*="W-bar"]:indeterminate::-webkit-progress-bar{
      background: transparent;
      box-shadow: none;
    }
    progress:indeterminate[class*="W-bar"]::-moz-progress-bar {
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2)),
      linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, .5) 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, rgba(0, 0, 0, .5) 75%);
      background-size: calc(var(--W-width) / 10);
      animation: W-background 5s linear infinite;
    }
    progress[class*="W-bar"]::-moz-progress-bar {
      --W-red: var(--W-secondaryR);
      --W-green: var(--W-secondaryG);
      --W-blue: var(--W-secondaryB);
      background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
      border-radius: var(--W-radius);
      box-shadow: 0 2px 10px -3px rgba(255, 255, 255, 0.5) inset, 1px -2px 10px 3px rgba(0, 0, 0, 0.5) inset;
      transition: ease .5s all;
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    }
    [class*="W-bar"]:not(progress)>:nth-child(1) {
      --W-red: var(--W-secondaryR);
      --W-green: var(--W-secondaryG);
      --W-blue: var(--W-secondaryB);
      position: relative;
      background-color: rgb(var(--W-red), var(--W-green), var(--W-blue));
      overflow: hidden;
      width: calc( 1% * var(--W-shader));
      height: 100%;
      border-radius: var(--W-radius);
      box-shadow: 0 2px 10px -3px rgba(255, 255, 255, 0.5) inset, 1px -2px 10px 3px rgba(0, 0, 0, 0.5) inset;
      transition: ease .5s all;
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    }
    [class*="W-bar"][indeterminate]:not(progress) {
      --W-shader: 100;
    }
    /* Type 2 */
      .W-barT2:not(progress)::before {
        position: absolute;
        display: inline-grid;
        align-content: center;
        justify-content: center;
        content: counter(progress)"%";
        color: var(--W-color);
        width: var(--W-width);
        height: 100%;
      }
      .W-barT2:not(progress)>:nth-child(1)::before {
        display: inline-grid;
        align-content: center;
        justify-content: center;
        position: absolute;
        content: counter(progress)"%";
        color: var(--W-color);
        width: var(--W-width);
        height: 100%;
      }
      .W-barT2[indeterminate]:not(progress)::before, .W-barT2[indeterminate]:not(progress)>:nth-child(1)::before {
        animation: ease-in-out W-opacity 1s alternate infinite;
        content: var(--W-type);
      }

