/***************************************
*               Switchers              *
***************************************/
/*
variable for the class W-btn:
  - W-primaryR, W-primaryG and W-primaryG (RGB) to choose the primary color and W-secondaryR, W-secondaryG and W-secondaryG (RGB) to choose the secondary color;
  - W-opacity for the opacity;
  - W-radius for the border radius;
  - W-paddingTop, W-paddingRight, W-paddingBottom and W-paddingLeft for the padding;

  tips: 
    if not define the variables W-paddingTop and W-paddingRight will take the value of W-paddingLeft when W-paddingBottom will take the value of W-paddingTop.
*/
[class*="W-switch"] {
  --W-primaryR: 204;
  --W-primaryG: 68;
  --W-primaryB: 68;
  --W-secondaryR: 68;
  --W-secondaryG: 204;
  --W-secondaryB: 102;
  --W-opacity: 0.7;
  --W-width: 4em;
  --W-height: 1.5em;
  --W-radius: 25px;
  --W-shader: .75;
  --W-margin: 5px;
  --W-borderWidth: 5px;
  --W-borderStyle: solid;
  --W-borderColor: grey;
}
[class*="W-switch"] > *, [class*="W-switch"]:empty {
  position: relative;
  display: inline-grid;
  grid-auto-rows: 100%;
  align-items: center;
  width: var(--W-width);
  height: var(--W-height);
  cursor: pointer;
  transition: 350ms;
  padding: 0;
  margin: calc( (((var(--W-height) * var(--W-shader)) - var(--W-height)) / 2 ) + var(--W-margin) ) var(--W-margin);
  box-sizing: content-box;
  font: initial;
  outline: none;
  top: var(--W-borderWidth);
  border: 0;
}
[class*="W-switch"] > *::after, [class*="W-switch"]:empty::after {
  position: relative;
  content: '';
  width: calc(var(--W-height) * var(--W-shader));
  height: calc(var(--W-height) * var(--W-shader));
  left: calc(((var(--W-height) * var(--W-shader)) - var(--W-height))/ -2 );
  border-radius: calc(var(--W-radius) - (var(--W-borderWidth) * 1.25));
  transition: 250ms ease-in-out;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset, 0 0 0.5em -0.15em rgba(0, 0, 0, 0.5);
  grid-row: 1;
  grid-column: 1;
}
[class*="W-switch"] > *::before, [class*="W-switch"]:empty::before {
  content: '';
  width: 100%;
  height: 100%;
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
  0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
  0 0 0 0 rgba(var(--W-secondaryR), var(--W-secondaryG), var(--W-secondaryB), var(--W-opacity)) inset,
  calc(var(--W-width) * -1) 0 0 0 rgba(var(--W-primaryR), var(--W-primaryG), var(--W-primaryB), var(--W-opacity)) inset;
  grid-row: 1;
  grid-column: 1;
  border: var(--W-borderWidth) var(--W-borderStyle) var(--W-borderColor);
  border-radius: var(--W-radius);
  justify-self: center;
}
[class*="W-switch"] > :checked + ::before,
:checked + [class*="W-switch"]:empty::before,
[class*="W-switch"] > .active::before,
[class*="W-switch"].active:empty::before,
[class*="W-switch"]:checked:empty::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
  0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
  var(--W-width) 0 0 0 rgba(var(--W-secondaryR), var(--W-secondaryG), var(--W-secondaryB), var(--W-opacity)) inset,
  0 0 0 0 rgba(var(--W-primaryR), var(--W-primaryG), var(--W-primaryB), var(--W-opacity)) inset;
}
[class*="W-switch"] > :checked + ::after,
:checked + [class*="W-switch"]:empty::after,
[class*="W-switch"] > .active::after,
[class*="W-switch"].active:empty::after,
[class*="W-switch"]:checked:empty::after {
  left: calc( var(--W-width) - (( var(--W-height) * var(--W-shader) ) - (var(--W-height) * (( var(--W-shader) - 1)/2) )));
}
[class*="W-switch"] > input {
  display: none;
}