extends layout

block viewer
  .W-box
    -n = 0
    while n < 10
      div
      -n++
  .W-boxT2
    -n = 0
    while n < 10
      div
      -n++
  .W-boxT3(row="5")
    -n = 0
    while n < 10
      div
      -n++
