extends layout

block viewer
    .W-box(style="overflow:hidden; --W-width: 350px; --W-height: 150px; color:red;" type="H-carousel")
      -n = 1
      while n < 8
        input(type="radio" name="slider" id="CS1R_"+n checked=n===1)
        -n++
      .W-slider
        -n = 1
        while n < 8
          .W-slide slide #{n}
          -n++
    div(style="display: grid; gap: 5px; grid-auto-flow: column;")
      -n = 1
      while n < 8
        label(for="CS1R_"+n) S#{n}
        -n++

    .W-box(style="overflow:hidden; --W-width: 350px; --W-height: 150px; color:red;" type="H-carousel")
      -n = 1
      while n < 8
        input(type="radio" name="slider2" id="CS2R_"+n checked=n===1)
        .W-slide
          div slide #{n}
        -n++
    div(style="display: grid; gap: 5px; grid-auto-flow: column;")
      -n = 1
      while n < 8
        label(for="CS2R_"+n) S#{n}
        -n++
