extends layout

block viewer
  form.W-form
    label(for="L1A-1") Label 1
    input#L1A-1.W-inp(type="text")
    label(for="L1A-2") Label 2
    input#L1A-2.W-inp(type="text")
    label(for="L1A-3") Label 3
    input#L1A-3.W-inp(type="text")
    label(for="L1A-4") Label 4
    input#L1A-4.W-inp(type="text")
    label(for="L1A-5") Label 5
    input#L1A-5.W-inp(type="text")
    label(for="L1A-6") Label 6
    input#L1A-6.W-inp(type="text")
  form.W-formT2
    label(for="L1A-1") Label 1
    input#L1A-1.W-inp(type="text")
    label(for="L1A-2") Label 2
    input#L1A-2.W-inp(type="text")
    label(for="L1A-3") Label 3
    input#L1A-3.W-inp(type="text")
    label(for="L1A-4") Label 4
    input#L1A-4.W-inp(type="text")
    label(for="L1A-5") Label 5
    input#L1A-5.W-inp(type="text")
    label(for="L1A-6") Label 6
    input#L1A-6.W-inp(type="text")